body, html {
	background: #2f363c;
	color: white;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
cite {
	font-size: 12px;
}
#foursquare {
	width: 100%;
	height: 98px;
	position: absolute;
	overflow: hidden;
	bottom: 0;
	left: 0;
	background: #2f363c;
}
#foursquare .scroll-wrap {
	position: absolute;
	white-space:nowrap;
}

#foursquare .fs-three {
	float: left;
	width: 33.333%;
}
#foursquare .fs-three:nth-child(3n) {
	border-bottom: 3px solid #00b4ff;
}
#foursquare .fs-three:nth-child(3n+1) {
	border-bottom: 3px solid #de00ff;
}
#foursquare .fs-three:nth-child(3n+2) {
	border-bottom: 3px solid #00ff24;
}
.foursquare {
	float: left;
	overflow: hidden;
	color: #FFF;
	text-decoration: none;
	font-size: 24px;
	position: relative;
}
.foursquare img {
	margin: 10px;
	float: left;
	width: 80px;
	height: 80px
}
.foursquare .userName {
	box-sizing: border-box;
	position: absolute;
	top: 71px;
	width: 80px;
	height: 20px;
	font-size: 12px;
	left: 10px;
	padding: 2px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
	color: rgb(221, 221, 221);
}
.foursquare h2 {
	font-size: 100%;
	display: block;
	margin: 15px 0 0 0;
	font-weight: 400;
	color: white;
	line-height: 30px;
}
.foursquare .shout {
	font-size: 12px;
}
.foursquare cite {
	margin: 0;
	font-weight: 300;
	opacity: 0.75;
	padding: 0 10px 0 0;
}
#main {
	height: 100%;
}
#nearby {
	background: rgba(255,255,255,0.05);
	padding: 0 20px;
	height: 100%;
}
#main .grid-three {
	width: 33.333%;
	float: left;
	min-height: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h3 {
	text-transform: uppercase;
}
#twitter {
	overflow: hidden;
	position: relative;
	height: 100%;
}
#twitter .scroll-wrap {
	position: absolute;
}
.tweet {
	position: relative;
	clear: both;
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
	min-height: 98px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.tweet.background .userInfo {
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	right: 0;
	width: 100%;
	min-height: 90px;
	color: rgb(221, 221, 221);
}

.tweet .tweetQR {
	display: none;
}

.tweet .tweetMedia {
	width: 100%;
}

.userInfo {
	overflow: hidden;
}

.userInfo a{
	color: white;
	text-decoration: none;
}

.userInfo img.userImage {
	float: left;
	padding: 10px;
	width: 80px;
}

.userInfo .userName {
	box-sizing: border-box;
	position: absolute;
	top: 71px;
	width: 80px;
	height: 20px;
	font-size: 12px;
	left: 10px;
	padding: 2px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
	color: rgb(221, 221, 221);
}

.userInfo .caption {
	padding: 10px;
	font-size: 14px;
}

.userInfo cite {
	position: absolute;
	bottom: 5px;
	right: 10px;
}

.place {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	position: relative;
}
.place .countdown {
	display: none;
	position: absolute;
	right: 10px;
	top: 20px;
	font-size: 15px;
}
.place[data-status="open"] .status {
	width: 18px;
	height: 18px;
	background: url('../img/open.png') no-repeat;
	margin: 17px;
	float: left;
}
.place[data-status="closed"] .status {
	width: 18px;
	height: 18px;
	background: url('../img/closed.png') no-repeat;
	margin: 17px;
	float: left;
}
.place[data-status="closing"] .status {
	width: 18px;
	height: 18px;
	background: url('../img/closing.png') no-repeat;
	margin: 17px;
	float: left;
}
.place[data-status="closing"] .countdown {
	display: block;
}
.place .storeName {
	float: left;
	color: white;
	text-decoration: none;
	margin: 1em 0;
}

#instagram {
	position: relative;
	overflow: hidden;
	height: 100%;
}
#instagram .scroll-wrap {
	position: absolute;
}
#instagram .instagram {
	width: 100%;
	position: relative;
	overflow: hidden;
}

#instagram .instagram img.instagramImage {
	width: 100%;
	float: left;
}

#instagram .instagram .userInfo {
	box-sizing: border-box;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 100px;
	background: rgba(0,0,0,0.7);
	color: #ddd;
}
